<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed perspiciatis numquam ea officiis quas magnam voluptatibus dicta itaque, dolore molestiae, omnis necessitatibus nam enim neque culpa eveniet illo placeat iusto.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Services</h6>
          <ul class="footer-links">
            <li>DENTAL CARE</li>
          <li>HEART DISEASE</li>
          <li>BLOOD TEST</li>
          <li>EMERGENCY CARE</li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6 class="px-2">Find Us</h6>
          <ul class="footer-links">
            <li><a> <i class="fas fa-map-marker-alt px-2 "></i> 123 William St Suite 801, New York</a></li>
            <li><a href="tel:+001-548-159-2491"><i class="fas fa-phone-alt px-2"></i> +001-548-159-2491</a></li>
            <li><a href=""> <i class="fas fa-envelope px-2"></i>hello@medizo.com</a></li>
      
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Senergic</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>