<section class="about">

<div class="about-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>About Us</h2>
                <div class="line"></div>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

                    eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
            <div class="col-md-6 py-5">
                <div class="row">
<div class="col-md-6 ">
<img src="assets/images/1.jpg" class="img-fluid about-img1">

</div>
<div class="col-md-6">
<img src="assets/images/2.jpg" class="img-fluid about-img2">
<h2 class="px-3">25 Years <br> Working<br> Experience</h2>

</div>
            </div>
            </div><div></div>
        </div>
    </div>
</div>

</section>
<section class="team ">
    <h2>Our Team</h2>
    <div class="line m-auto"></div>
    <div class="container pt-5 ">
        <div class="row">
  <owl-carousel-o [options]="customOptions">
      
    <ng-template carouselSlide>

<div class="col-md-4 ">
    <div class="card" style="width: 18rem;">
        <div class="overlay">
        <img src="assets/images/doctors/5.jpg" class="card-img-top" alt="...">
    </div>
        <div class="card-body">
            <h5 class="card-title">Dr. Andrew Berton</h5>
            <p class="card-text">Outpatient Surgery
          </p>
        </div>
      </div>
</div>

    </ng-template>  
    <ng-template carouselSlide>

        <div class="col-md-4 ">
            <div class="card" style="width: 18rem;">
                <img src="assets/images/doctors/4.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dr. Wahab Apple
                </h5>
                  <p class="card-text">Heart Specialist

                </p>
                </div>
              </div>
        </div>
        
            </ng-template>     <ng-template carouselSlide>

                <div class="col-md-4 ">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/images/doctors/9.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Mackenize</h5>
                          <p class="card-text">Haematology
                        </p>
                        </div>
                      </div>
                </div>
                
                    </ng-template>     <ng-template carouselSlide>

                        <div class="col-md-4 ">
                            <div class="card" style="width: 18rem;">
                                <img src="assets/images/doctors/7.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Dr. Peter Adlock</h5>
                                  <p class="card-text">Orthopedics Surgeon </p>
                                </div>
                              </div>
                        </div>
                        
                            </ng-template>     <ng-template carouselSlide>

                                <div class="col-md-4 ">
                                    <div class="card" style="width: 18rem;">
                                        <img src="assets/images/doctors/2.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Dr. James Alison</h5>
                                          <p class="card-text">Neurologist</p>
                                        </div>
                                      </div>
                                </div>
                                
                                    </ng-template> 
                                   <ng-template carouselSlide>

                                    <div class="col-md-4 ">
                                        <div class="card" style="width: 18rem;">
                                            <img src="assets/images/doctors/3.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                              <h5 class="card-title">Norman Colins</h5>
                                              <p class="card-text">Surgeon, Сardiologist </p>
                                            </div>
                                          </div>
                                    </div>
                                    
                                        </ng-template> 
                                     <ng-template carouselSlide>

                                        <div class="col-md-4 ">
                                            <div class="card" style="width: 18rem;">
                                                <img src="assets/images/doctors/8.jpg" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                  <h5 class="card-title">Sinthy Alina</h5>
                                                  <p class="card-text">Gynecologist</p>
                                                </div>
                                              </div>
                                        </div>
                                        
                                            </ng-template> 

  </owl-carousel-o>
</div>
</div>
</section>