<!------------------------Home section--------------------->
<section class="home" >
    <div class="home-content">
        <div class="content">
            <h2>Best Care & <br> Better Doctor</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aperiam, maxime nemo voluptatem quia nam quaerat</p>
        </div>
    </div>
</section>
<!------------------------Services section--------------------->
<section class="services">
    <div class="services-content">
        <h1>What makes us different </h1>
        <div class="line"></div>

        <div class="container m-auto">
            <div class="row">
            <div class="col-md-4">
                <i class="fas fa-stethoscope"></i>
                <h4>Qualified specialists</h4>
                <p>We hire the best specialists to deliver top-notch diagnostic services for you. </p>


            </div>
            <div class="col-md-4">
                <i class="fas fa-hand-holding-medical"></i>
                <h4>Modern equipment
                </h4>
                <p>We use the first-class medical equipment for timely diagnostics of various diseases. </p>
            </div>
            <div class="col-md-4">
                <i class="far fa-hospital"></i>
                <h4>24-hour service
                </h4>
                <p>Anytime you need help, you may contact us and our receptionist will make an appointment for you.</p>
            </div>
        </div>
    </div>

    </div>
    
</section>
<!---------------------------section cofid-19 --------------->


<section class="cases">
    <h2>Cases</h2>
    <div class="line"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed<br>
        do eiusmod tempor incididunt ut labore.</p>
<div class="container m-auto">
<div class="table-data">
    <table class="table" >
        <thead>
          <tr>
            <th scope="col">Location</th>
            <th scope="col">New Cases</th>
            <th scope="col">Total Cases</th>
          </tr>
        </thead>
        <tbody>
       <tr *ngFor="let item of data">
           <td>{{item.Country}}</td>
           <td>{{item.NewConfirmed}}</td>
           <td>{{item.TotalConfirmed}}</td>


       </tr>
       
        </tbody>
      </table>

</div>
</div>
</section>
<!---------------------------section what we do--------------->
<section class="works">
    <div class="container m-auto">
        <div class="row m-auto">
            <div class="header-w">
                <h2>What We Do</h2>
                <div class="line"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed<br>
                    do eiusmod tempor incididunt ut labore.</p>
            </div>
            
            <div class="col-md-3 ">
               <div class="card" style="width: 18rem;">
                   <div class="card-body">
                       <div class="icon">
                           <i class="fas fa-tooth"></i>
                        </div>
                        <h3>Dental Care</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>                     
                   </div>
                 </div>
              
            </div>
            <div class="col-md-3 ">
               <div class="card" style="width: 18rem;">
                   <div class="card-body">
                       <div class="icon">
                           <i class="fas fa-heartbeat"></i>                         </div>
                        <h3>HEART DISEASE
                       </h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>                     
                   </div>
                 </div>
              
            </div>
            <div class="col-md-3 ">
               <div class="card" style="width: 18rem;">
                   <div class="card-body">
                       <div class="icon">
                           <i class="fas fa-ambulance"></i>                </div>
                        <h3>EMERGENCY CARE
                       </h3>
                   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>                    
                   </div>
                 </div>
              
            </div>
            <div class="col-md-3 ">
               <div class="card" style="width: 18rem;">
                   <div class="card-body">
                       <div class="icon">
                           <i class="fas fa-syringe"></i>              </div>
                        <h3>Blood Test
                       </h3>
                   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>                    
                   </div>
                 </div>
              
            </div>
        
         
         
        </div>

   </div>

</section>


